<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= params[:controller]=="books" ? 'active' : ' ' %>"><%= link_to "Home", root_path %></li>
        <li class="<%= params[:controller]=="about" ? 'active' : ' ' %>"><%= link_to "About", about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown navbar-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add New<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Book", new_book_path %></li>
              <li><%= link_to "Category", new_category_path %></li>
              <li><%= link_to "Author", new_author_path %></li>
              <li><%= link_to "Publisher", new_publisher_path %></li>
            </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<header>
  <div class="container header">
    <h1>The Bookstore <small><%= @page_title ? @page_title : "Welcome" %></small></h1>
  </div>
</header>